body{
    text-align: center;
    background-color: #7A5901;
    background-image: url('../img/howsurknee.jpeg');
    

h1{
    color: brown
}

p{
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

#cocobutt1{
    width: 300px;
    height: 300px;
}